{% load static %}

<link rel="stylesheet" href="{% static 'njtowns/style.css' %}">

{% if town_to_num_of_colleges %}
<h1>NJ Town to Number of Colleges</h1>
<table>
    <tr>
        <th>town</th>
        <th>num_of_colleges</th>
    </tr>
    {% for entry in town_to_num_of_colleges %}
    <tr>
        <td>{{ entry.town }}</td>
        <td>{{ entry.num_of_colleges }}</td>
    </tr>
    {% endfor %}
    
</table>
{% else %}
    <p>No colleges in NJ are available.</p>
{% endif %}
{% if list_of_colleges_and_towns_they_are_in %}
<h1>Displaying Colleges and Towns They Are In</h1>
<table>
    <tr>
        <th>college</th>
        <th>town</th>
        <th>population</th>
        <th>area_in_sq_mi</th>
        <th>water_area</th>
        <th>land_area</th>
        <th>elevation_in_ft</th>
    </tr>
    {% for entry in list_of_colleges_and_towns_they_are_in %}
    <tr>
        <td>{{ entry.college }}</td>
        <td>{{ entry.town.town }}</td>
        <td>{{ entry.town.population }}</td>
        <td>{{ entry.town.area_in_sq_mi }}</td>
        <td>{{ entry.town.water_area }}</td>
        <td>{{ entry.town.land_area }}</td>
        <td>{{ entry.town.elevation_in_ft }}</td>
    </tr>
    {% endfor %}
    
</table>
{% else %}
    <p>No colleges in NJ are available.</p>
{% endif %}